<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <shopeepay>
                <block_id>payment_shopeepay</block_id>
            </shopeepay>
            <alepay>
                <block_id>payment_alepay</block_id>
            </alepay>
            <checkmo>
                <block_id>payment_checkmo</block_id>
            </checkmo>
            <paypal_billing_agreement>
                <block_id>payment_paypal_billing_agreement</block_id>
            </paypal_billing_agreement>
            <free>
                <block_id>payment_free</block_id>
            </free>
            <vnpay>
                <block_id>payment_vnpay</block_id>
            </vnpay>
            <momo>
                <block_id>payment_momo</block_id>
            </momo>
            <alepay>
                <block_id>payment_alepay</block_id>
            </alepay>
            <cashondelivery>
                <block_id>payment_cashondelivery</block_id>
            </cashondelivery>
            <braintree_local_payment>
                <block_id>payment_braintree_local_payment</block_id>
            </braintree_local_payment>
            <braintree_ach_direct_debit>
                <block_id>payment_braintree_ach_direct_debit</block_id>
            </braintree_ach_direct_debit>
            <braintree_venmo>
                <block_id>payment_braintree_venmo</block_id>
            </braintree_venmo>
            <braintree_googlepay>
                <block_id>payment_braintree_googlepay</block_id>
            </braintree_googlepay>
            <braintree_applepay>
                <block_id>payment_braintree_applepay</block_id>
            </braintree_applepay>
            <braintree_paypal_vault>
                <block_id>payment_braintree_paypal_vault</block_id>
            </braintree_paypal_vault>
            <braintree_cc_vault>
                <block_id>payment_braintree_cc_vault</block_id>
            </braintree_cc_vault>
            <braintree>
                <block_id>payment_braintree</block_id>
            </braintree>
            <payflow_advanced>
                <block_id>payment_payflow_advanced</block_id>
            </payflow_advanced>
        </payment>
    </default>
</config>
