<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prepare_content_widget" xsi:type="object">Ecommage\CatalogWidget\Command\PrepareContent</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogWidget\Block\Product\ProductsList">
        <plugin name="prepare_content_product_list" type="Ecommage\CatalogWidget\Plugin\Block\Product\ProductsList"/>
    </type>
</config>
